@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.steps {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-top: 6%;

  &-title {
    display: flex;

    font-size: 4rem;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    @include screensize(desk-small) {
      font-size: 3.5rem;
    }

    & p:first-child {
      color: $color-light-blue;
      font-weight: 900;
    }

    & p:last-child {
      color: $color-white;
      font-weight: 300;
      margin-left: 4.2rem;
    }
  }

  &-cards {
    height: 52.8rem;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    // margin-right: 29.3rem;
    // margin-left: 30rem;

    @include screensize(desktop) {
      margin-top: 5%;
    }
  }
  
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-image 0.7s ease-in-out;
    height: 100%;
    width: 26.5rem;
    position: relative;
    z-index: 30;
    transition: all .10s;

    @include screensize(desktop) {
      width: 28rem;
    }
    @include screensize(desk-small) {
      width: 25rem;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-white;
      color: $color-light-blue;
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
      font-size: 5.5rem;
      transition: transform .30s;

      @include screensize(desk-small) {
        font-size: 4rem;
      }
    }

    &-1 {
      background-image: url('../../images/Rectangle1.svg');
    }
    &-2 {
      background-image: url('../../images/Rectangle2.svg');
    }
    &-3 {
      background-image: url('../../images/Rectangle3.svg');
    }
    &-4 {
      background-image: url('../../images/Rectangle4.svg');
    }
    &-5 {
      background-image: url('../../images/Rectangle5.svg');
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(56, 72, 241, 0.7);
      opacity: 0;
      z-index: -2;
    }
    &:hover::before {
      opacity: 1;
    }

    &-text {
      text-align: center;
      text-transform: uppercase;
      color: #BFD1FF;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: $letter-spacing;
      visibility: hidden;
      display: none;

      & p:first-child {
        margin: auto;
        padding-top: 8%;
        text-align: center;
        width: min-content;
      }

      & p:last-child {
        color: $color-white;
        font-size: 3.2rem;
        font-weight: 700;
        letter-spacing: $letter-spacing;
        padding-top: 8%;

      }
    }
  }

  &-info {
    margin-top: 5%;
    width: 166.2rem;
    height: 16.4rem;

    // filter: drop-shadow(0px 0px 15px $color-blue-neon) drop-shadow(0px 0px 18px $color-blue-neon);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screensize(desktop) {
      width: 90%;
    }

    &-text {
      color: $color-white;
      display: flex;
      flex-direction: column;
      margin-left: 17.1rem;
      width: 58.4rem;
      @include screensize(desk-small) {
        width: 36%;
      }
      @include screensize(tab-big) {
        margin-left: 10%;
      }
      @include screensize(tab-land) {
        margin-left: 7%;
        width: 40%;
      }

      & p:first-child {
        font-size: 3.6rem;
        font-weight: 800;
      }

      & p:last-child {
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 2%;
      }
    }

    &-btns {
      display: flex;
      justify-content: space-between;
      margin-right: 16.4rem;
      width: 54rem;

      @include screensize(tab-big) {
        margin-right: 10%;
        width: 35%;
      }
      @include screensize(tab-land) {
        margin-right: 7%;
        // width: 35%;
      }
    }
  }
}

.steps-cards .steps-card .steps-card-text {
  opacity: 0;
}
.steps-cards .steps-card:hover::before {
  animation: opacityEffect .5s cubic-bezier(0.45, 0.05, 0.55, 0.95) both
}
.steps-cards .steps-card:hover .steps-card-text {
  opacity: 1;
  visibility: visible;
  display: block;
  animation: slideEffect 1s ease both;

  .steps-card-icon {
    color: $color-white;
    background-color: $color-light-blue;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 2.5rem;

    @include screensize(desk-small) {
      font-size: 4rem;
    }
  }
}
.steps-cards .steps-card:hover .steps-card-icon {
  // color: $color-white;
  // background-color: $color-light-blue;
  border-radius: 50%;
  // height: 5rem;
  // width: 5rem;
  // font-size: 2.5rem;
  // transform: translateY(-20px);
  // animation: scale-down-center 0.10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scaleEffect 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) both, slideEffect 3s ease both;

  @include screensize(desk-small) {
    font-size: 4rem;
    
  }
}

@keyframes scaleEffect {
  from {
    height: 10rem;
    width: 10rem;
    font-size: 5.5rem;
  }
  to {
    height: 5rem;
    width: 5rem;
    font-size: 2.5rem;
  }
}

@keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideEffect {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(-30px) 
  }
}

@keyframes bottomTopEffect {
  from {
    transform: translateY(-30px)
  }
  to {
    transform: translateY(0) 
  }
}