@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.steps {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-top: 6%;

  &-title {
    display: flex;

    font-size: 4rem;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    @include screensize(desk-small) {
      font-size: 3.5rem;
    }

    & p:first-child {
      color: $color-light-blue;
      font-weight: 900;
    }

    & p:last-child {
      color: $color-white;
      font-weight: 300;
      margin-left: 4.2rem;
    }
  }

  &-cards {
    height: 52.8rem;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    // margin-right: 29.3rem;
    // margin-left: 30rem;

    @include screensize(desktop) {
      margin-top: 5%;
    }
  }
  
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-image 0.7s ease-in-out;
    height: 100%;
    width: 26.5rem;

    @include screensize(desktop) {
      width: 28rem;
    }
    @include screensize(desk-small) {
      width: 25rem;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-white;
      color: $color-light-blue;
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
      font-size: 5.5rem;

      @include screensize(desk-small) {
        font-size: 4rem;
      }
    }

    &-1 {
      background-image: url('../../images/Rectangle1.svg');
      transition: background-image 0.7s ease-in-out;

      &:hover {
        transition: background-image 0.7s ease-in-out;
        background-image: linear-gradient(rgba(56, 72, 241, 0.7), rgba(56, 72, 241, 0.7)), url('../../images/Rectangle1.svg');
      }
    }
    &-2 {
      background-image: url('../../images/Rectangle2.svg');
    }
    &-3 {
      background-image: url('../../images/Rectangle3.svg');
    }
    &-4 {
      background-image: url('../../images/Rectangle4.svg');
    }
    &-5 {
      background-image: url('../../images/Rectangle5.svg');
    }

    &-card {

    }


    &-icon {
      color: $color-white;
      background-color: $color-light-blue;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      font-size: 2.5rem;

      @include screensize(desk-small) {
        font-size: 4rem;
      }
    }

    &-text {
      text-align: center;
      text-transform: uppercase;
      color: #BFD1FF;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: $letter-spacing;

      & p:first-child {
        margin: auto;
        padding-top: 8%;
        text-align: center;
        width: min-content;
      }

      & p:last-child {
        color: $color-white;
        font-size: 3.2rem;
        font-weight: 700;
        letter-spacing: $letter-spacing;
        padding-top: 8%;

      }
    }

    // &-text {
    //   display: none;
    // }
  }

  &-info {
    margin-top: 5%;
    width: 166.2rem;
    height: 16.4rem;

    // filter: drop-shadow(0px 0px 15px $color-blue-neon) drop-shadow(0px 0px 18px $color-blue-neon);

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screensize(desktop) {
      width: 90%;
    }

    &-text {
      color: $color-white;
      display: flex;
      flex-direction: column;
      margin-left: 17.1rem;
      width: 58.4rem;
      @include screensize(desk-small) {
        width: 36%;
      }
      @include screensize(tab-big) {
        margin-left: 10%;
      }
      @include screensize(tab-land) {
        margin-left: 7%;
        width: 40%;
      }

      & p:first-child {
        font-size: 3.6rem;
        font-weight: 800;
      }

      & p:last-child {
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 2%;
      }
    }

    &-btns {
      display: flex;
      justify-content: space-between;
      margin-right: 16.4rem;
      width: 54rem;

      @include screensize(tab-big) {
        margin-right: 10%;
        width: 35%;
      }
      @include screensize(tab-land) {
        margin-right: 7%;
        // width: 35%;
      }
    }
  }
}