@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  max-width: 100%;

  &-title {
    color: $color-white;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    display: flex;
    align-self: flex-end;
    margin-right: 13%;

    @include screensize(phone) {
      flex-direction: column;
      margin-right: 0;
      margin: auto;
      width: 90%;
    }

    & p:first-child {
      color: $color-light-blue;
      font-weight: 900;
      margin-right: 4.2rem;
      @include screensize(phone) {
        text-align: start;
      }
    }
    & p:last-child {
      font-weight: 300;
      @include screensize(phone) {
        text-align: end;
      }
    }
  }

  &-events {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 95%;
    align-items: center;

    @include screensize(tab-big) {
      margin-top: 5%;
    }
    @include screensize(phone) {
      margin-top: 8%;
      width: 98%;
    }
  }

  &-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 4%;
    width: 100%;

    @include screensize(phone) {
      margin-bottom: 5%;
    }

    &-date {
      background-color: $color-light-blue;
      border-radius: 100px;
      color: $color-white;
      font-size: 3.2rem;
      letter-spacing: $letter-spacing;
      // margin-right: 3%;
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 11rem;
      width: 25%;
    
      @include screensize(tab-big) {
        font-size: 2.5rem;
      }
      @include screensize(tab-land) {
        font-size: 2rem;
        height: 9rem;
      }
      @include screensize(tab-port) {
        font-size: 1.8rem;
      }
      @include screensize(phone) {
        font-size: 1.7rem;
        width: 23%;
      }

      & p {
        font-weight: 900;

        &:not(:last-child) {
          margin-right: 3%;
        }
      }
    }

    &-infos {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 11rem;
      padding-left: 13rem;
      width: 70%;

      @include screensize(tab-big) {
        padding-left: 8rem;
      }
      @include screensize(tab-land) {
        height: 9rem;
      }
      @include screensize(tab-port) {
        padding-left: 5%;
      }
      @include screensize(phone) {
        font-size: 1.4rem;
        width: 75%;
      }
    }

    &-name {
      color: $color-light-blue;
      display: flex;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      text-align: center;
      width: 100%;

      @include screensize(tab-port) {
        font-size: 1.5rem;
      }


      & p:first-child {
        padding-right: 2.5%;
        border-right: 1px solid $color-light-blue;;
      }

      & p:last-child {
        padding-left: 2.5%;
      }
    }

    &-info {
      color: $color-white;
      font-size: 1.6rem;
      letter-spacing: $letter-spacing;
      margin-top: .5%;
      width: 100%;
      @include screensize(tab-port) {
        font-size: 1.5rem;
      }
    }
  }

  &-info {
    height: 12.4rem;
    margin: auto;
    margin-top: 10%;
    width: 95%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screensize(tab-big) {
      margin-top: 5%;
    }
    @include screensize(tab-port) {
      height: 11rem;
    }
    @include screensize(phone) {
      height: 12rem;
    }

    &-p {
      color: $color-white;
      font-size: 3.6rem;
      font-weight: 800;
      margin-left: 10rem;

      @include screensize(tab-port) {
        font-size: 3rem;
      }
      @include screensize(phone) {
        font-size: 2.5rem;
        margin-left: 5%;
      }
    }

    &-btns {
      display: flex;
      margin-right: 8%;
      width: 20%;
      justify-content: space-between;
    }
  }
}