@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  max-width: 100%;

  &-title {
    color: $color-white;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    display: flex;
    align-self: flex-end;
    margin-right: 13%;

    & p:first-child {
      color: $color-light-blue;
      font-weight: 900;
      margin-right: 4.2rem;
    }
    & p:last-child {
      font-weight: 300;
    }
  }

  &-events {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 90%;
    align-items: center;

    @include screensize(tab-big) {
      margin-top: 5%;
    }
    @include screensize(phone) {
      margin-top: 8%;
    }
  }

  &-event {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-bottom: 3%;

    @include screensize(phone) {
      margin-bottom: 5%;
    }

    &-date {
      background-color: $color-light-blue;
      border-radius: 100px;
      color: $color-white;
      font-size: 3.2rem;
      letter-spacing: $letter-spacing;
      margin-right: 3%;
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 11rem;
      width: 48rem;
      
      @include screensize(desk-small) {
        width: 40rem;
      }
      @include screensize(tab-big) {
        font-size: 2.5rem;
        width: 33rem;
      }
      @include screensize(tab-land) {
        font-size: 2rem;
        height: 9rem;
        width: 27rem;
      }
      @include screensize(tab-port) {
        font-size: 1.8rem;
        height: 7rem;
        width: 23rem;
      }

      & p {
        font-weight: 900;

        &:not(:last-child) {
          margin-right: 3%;
        }
      }
    }

    &-infos {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 11rem;
      padding-left: 13rem;
      width: 113.6rem;

      @include screensize(desk-small) {
        width: 105rem;
      }
      @include screensize(tab-big) {
        padding-left: 8rem;
        width: 93rem;
      }
      @include screensize(tab-land) {
        height: 9rem;
        width: 90rem;
      }
      @include screensize(tab-port) {
        padding-left: 5%;
        width: 76rem;
      }
    }

    &-name {
      color: $color-light-blue;
      display: flex;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      text-align: center;
      width: 100%;

      @include screensize(tab-port) {
        font-size: 1.5rem;
      }


      & p:first-child {
        padding-right: 2.5%;
        border-right: 1px solid $color-light-blue;;
      }

      & p:last-child {
        padding-left: 2.5%;
      }
    }

    &-info {
      color: $color-white;
      font-size: 1.6rem;
      letter-spacing: $letter-spacing;
      margin-top: .5%;
      width: 100%;
      @include screensize(tab-port) {
        font-size: 1.5rem;
      }
    }
  }

  &-info {
    display: flex;
    margin-top: 13%;
    height: 12.4rem;
    width: 161.6rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screensize(desk-small) {
      width: 145rem;
    }
    @include screensize(tab-big) {
      margin-top: 5%;
      width: 126rem;
    }
    @include screensize(tab-port) {
      height: 11rem;
      width: 98rem;
    }

    & p {
      color: $color-white;
      font-size: 3.6rem;
      font-weight: 800;
      margin-left: 10rem;

      @include screensize(tab-port) {
        font-size: 3rem;
      }
    }
  }
}