@import '../../sass/variables.scss';

.intro {
  color: $color-white;
  position: relative;
  
  &-marcio-img {
    height: 78.2rem;
    width: 85.8rem;
    position: absolute;
    // top: 25rem;
    top: 18%;
    left: 0;
    opacity: .49;
    z-index: -1;
  }

  &-proxy-img {
    height: 94.7rem;

    position: absolute;
    right: -12%;
    top: -5%;
    z-index: -1;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-img {
      padding: 7.7rem 0 0 13.5rem;
    }

    &-btn {
      background-color: transparent;
      color: $color-white;
      font-family: inherit;
      font-size: 1.6rem;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;

      border: 1px solid $color-white;
      height: 3.6rem;
      margin: 9.5rem 11.6rem 0 0;
      width: 30rem;
    }
  }

  &-main-title {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &-title {
    background-color: $color-light-blue;
    color: $color-white;
    font-size: 6rem;
    letter-spacing: $letter-spacing;
    margin-right: 11.6rem;
    margin-left: 54.8rem;
    margin-top: 13%;
    text-transform: uppercase;

    height: 18.4rem;
    width: 125.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-quotation-marks {
    position: absolute;
    top: -38%;
    left: 27%;
  }

  &-text {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: $letter-spacing;
    line-height: 2.3rem;
    margin-top: 8.9rem;
    margin-right: 37.5rem;
    margin-left: 75.3rem;
    text-align: right;
    width: 79.2rem;

    & p:first-child {
      font-weight: 700;
      margin-bottom: 2.3rem;
    }

    & p:nth-child(2) {
      align-self: flex-end;
      width: 80%;
    }

    & p:last-child {
      margin-top: 2.3rem;
    }
  }
}