@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.intro {
  color: $color-white;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 5%;
  
  &-marcio-img {
    height: 78.2rem;
    // width: 100;
    position: absolute;
    top: 20%;
    left: 0;
    opacity: .49;
    z-index: -1;

    @include screensize(desk-small) {
      height: 70%;
      top: 25%;
    }
    @include screensize(tab-big) {
      height: 70%;
      left: -10%;
    }
    @include screensize(tab-land) {
      height: 80%;
      left: -8%;
    }
    @include screensize(tab-port) {
      left: -10%;
      height: 80%;
    }
    @include screensize(phone) {
      display: none;
    }
  }

  &-proxy-img {
    height: 94.7rem;

    position: absolute;
    right: -12%;
    top: -5%;
    z-index: -1;

    @include screensize(desktop) {
      // height: 70%;
      // right: 0;
    }
    @include screensize(desk-medium) {
      right: -5%;
      height: 70%;
    }
    @include screensize(desk-small) {
      height: 60%;
      right: 0;
    }
    @include screensize(phone) {
      height: 90%;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    &-img {
      height: 13rem;
      padding: 7.7rem 0 0 13rem;

      @include screensize(tab-land) {
      width: 30%;
      }
      @include screensize(phone) {
        padding-left: 3%;
        // width: 25%;
      }
    }

    &-div {
      @include screensize(tab-big) {
        display: flex;
        justify-content: flex-end;
      }
      @include screensize(tab-port) {
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
      }
    }

    &-btn, .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.intro-header-btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root, .css-1ujsas3
    {
      background-color: transparent;
      color: $color-white !important;
      font-family: inherit;
      font-size: 1.6rem;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      transition: all .3s;

      border: 1px solid $color-white;
      height: 3.6rem;
      margin: 9.5rem 11.6rem 0 0;
      width: 30rem;

      @include screensize(desk-small) {
        margin: 9.5rem 8rem 0 0;
      }
      @include screensize(tab-big) {
        font-size: 1.5rem;
        text-align: center;
        margin: 9.5rem 6rem 0 0;
        width: 25rem;
      }
      &:not(.intro-header-btn-2) {
        @include screensize(tab-port) {
          display: none;
        }
      }

      @include screensize(phone) {
        font-size: 1.5rem;
        height: 4rem;
        margin-right: 3%;
        width: 30rem;
      }

      &:hover {
        transform: translateY(-6px);
      }
    }
    &-btn-2 {
      background-color: $color-light-blue !important;
      border: none !important;
    }
  }

  &-main-title {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

  }

  &-title {
    background-color: $color-light-blue;
    border-radius: 1410px 0 0 1410px ;
    color: $color-white;
    margin-top: 13%;
    text-transform: uppercase;

    height: 26.5rem;
    width: 155rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 20%;
    align-self: flex-end;

    &-p-1 {
      color: #FFF;
      font-size: 4.9rem;
      font-weight: 500;
      letter-spacing: 1.24rem;
    }

    &-p-2 {
      font-size: 12.1rem;
      font-weight: 900;
      letter-spacing: 4.6rem;
      line-height: 98.3%;
    }

    @include screensize(desk-medium) {
      font-size: 5rem;
      margin-left: auto;
      min-height: 15rem;
      width: 65%;
    }
    @include screensize(desk-small) {
      font-size: 5rem;
      min-height: 15rem;
      width: 65%;
    }
    @include screensize(tab-big) {
      font-size: 4rem;
      height: 15rem;
      width: 63%;
    }
    @include screensize(tab-port) {
      font-size: 3.5rem;
      // margin-left: 38%;

      height: 10rem;
      width: 60%;
    }
    @include screensize(phone) {
      // margin-left: 20%;
      width: 80%;
    }
    
  }

  &-text {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: $letter-spacing;
    line-height: 2.3rem;

    margin: 8.9rem 37.5rem 0 70rem;
    text-align: left;
    width: 55%;

    @include screensize(desk-small) {
      // margin-left: 45%;
      margin-left: auto;
      margin-right: 8%;
    }
    @include screensize(tab-big) {
      width: 65%;
      margin-right: 5%;
    }
    @include screensize(tab-port) {
      font-size: 1.9rem;
      width: 60%;
      margin-right: 5%;
    }
    @include screensize(phone) {
      font-size: 2.2rem;
      line-height: 3.5rem;
      margin-right: 9%;
      width: 95%;
    }

    & p {
      align-self: flex-end;
      width: 80%;
    }

    & p:first-child {
      font-weight: 700;
      margin-bottom: 2.3rem;
    }

    & p:nth-child(2) {
      width: 80%;
    }

    & p:last-child {
      margin-top: 2.3rem;
    }
  }
}