@import '../sass/variables.scss';
@import '../sass/mixins.scss';

#whats-btn, #email-btn {
  background-color: $color-light-blue;
  border-radius: 97px;
  font-weight: 700;
  height: 4.9rem;
  text-transform: none;
  transition: all .3s ease-out !important;
  // width: 25.1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-size: 2rem;

    @include screensize(phone) {
      font-size: 1.8rem;
    }
  }

  &:hover {
    transform: translateY(-6px);
    background-color: azure;
  }

  @include screensize(desk-small) {
    width: 46%;
  }
  @include screensize(phone) {
    width: 45%;
  }
}

#whats-btn {
  margin-right: 5%;
  @include screensize(phone) {
    margin-right: 3%;
  }
}

.MuiTooltip-arrow.css-kudwh-MuiTooltip-arrow {
  color: $color-white;
}

.MuiTooltip-tooltip.MuiTooltip-tooltipArrow.MuiTooltip-tooltipPlacementTop.css-1k51tf5-MuiTooltip-tooltip {
  border-radius: 15px;
  padding: 10%;
  text-align: center;

  @include screensize(phone) {
    font-size: 1.3rem;
    padding: 8%;
    margin-left: 30%;
    width: 50%;
  }
}
.MuiTooltip-popper.MuiTooltip-popperInteractive.MuiTooltip-popperArrow.css-1ylilul-MuiPopper-root-MuiTooltip-popper.MuiPopperUnstyled-root {
  width: max-content;
}

.btn-cyan {
  background-color: aquamarine !important;
  font-size: 1.3rem !important;
}

.btn-blue {
  background-color: $color-light-blue;
}
