@import '../sass/variables.scss';
@import '../sass/mixins.scss';

.whats-btn, .email-btn {
  background-color: $color-light-blue;
  height: 4.9rem;
  transition: all .3s ease-out !important;
  width: 25.1rem;

  &:hover {
    transform: translateY(-6px);
    background-color: azure;
  }

  @include screensize(desk-small) {
    width: 46%;
  }
}

.MuiTooltip-arrow.css-kudwh-MuiTooltip-arrow {
  color: $color-white;
}

.MuiTooltip-tooltip.MuiTooltip-tooltipArrow.MuiTooltip-tooltipPlacementTop.css-1k51tf5-MuiTooltip-tooltip {
  border-radius: 15px;
  padding: 10%;
  text-align: center;
}

.btn-cyan {
  background-color: aquamarine !important;
}

.btn-blue {
  background-color: $color-light-blue;
}
