@import '../../sass/variables.scss';

.app {
  height: 197.6rem;
  background: linear-gradient(216.47deg, #5405F3 17.62%, #3EA2FF 78.75%);
  margin-top: 9%;
  position: relative;

  &-phone1, &-phone2 {
    position: relative;
  }

  &-phone1 {
    // height: 100%;
    &-img {
      height: auto;
      position: absolute;
      top: -15rem;
    }
  }

  &-phone2 {
    // height: 100%;
    &-img {
      // height: 80%;
      position: absolute;
      right: 0;
      top: 500px;
    }
  }

  &-text {
    width: 38%;
    padding-top: 7%;
    margin-left: 40%;

    &-1 {
      color: $color-light-gray;
      font-size: 3.2rem;
      font-weight: 300;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;

    }

    &-info {
      color: $color-white;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: $letter-spacing;

      & span {
        color: $color-blue-cyan;
      }

      &-1 {
        margin-top: 7%;
      }

      &-2, &-3 {
        margin-top: 2.5%;
      }

      &-3 {
        font-weight: 900;
      }
    }

    &-tags {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 10%;
    }

    &-tag {
      background-color: $color-white;
      border-radius: 515px;
      color: $color-light-blue;
      font-size: 2.4rem;
      font-weight: 900;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;

      height: 6.3rem;
      width: 105%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5% 0;
    }
  }

  &-download {
    position: relative;
    left: 15%;
    top: 20%;
    width: min-content;
    text-align: center;

    &-logo {
      margin: auto;
    }

    &-links {
      display: flex;
      margin-top: 8%;
    }

    &-apple, &-google {
      background-color: $color-white;
      border-radius: 18rem;
      height: 11.3rem;
      width: 40rem;

      display: flex;
      align-items: center;
      justify-content: center;
      
      &:not(:last-child) {
        margin-right: 1.5%;
      }
    }
  }
}