@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.app {
  height: 197.6rem;
  background: linear-gradient(216.47deg, #5405F3 17.62%, #3EA2FF 78.75%);
  margin-top: 20%;
  position: relative;

  &-phone1, &-phone2 {
    position: relative;

  }

  &-intro {
    display: flex;
    position: absolute;
    top: -10%;
    left: 15%;

    @include screensize(desk-small) {
      top: -9%;
    }
    @include screensize(tab-land) {
      top: -6%;
    }
    @include screensize(tab-port) {
      display: none;
    }

    &-logo {
      @include screensize(desktop) {
        height: 30vh;
      }
      @include screensize(desk-small) {
        height: 20vh;
      }
      @include screensize(tab-land) {
        height: 10vh;
      }
    }

    &-div {
      display: flex;
      flex-direction: column;
      margin: 4% 0 0 10%;

      @include screensize(tab-land) {
        margin: 2% 0 0 10%;
      }

      & p {
        color: $color-light-blue;
        font-size: 2.4rem;
        font-weight: 300;
        letter-spacing: $letter-spacing;
        margin-bottom: 2%;
        text-transform: uppercase;
      }

      & img {
        @include screensize(desktop) {
          height: 6vh;
        }
        @include screensize(tab-land) {
          height: 4vh;
        }
      }
    }
  }

  &-phone1 {
    z-index: 11;
    &-img {
      height: auto;
      position: absolute;
      top: -15rem;
      z-index: 11;

      @include screensize(desktop) {
        height: 70vh;
      }
      @include screensize(desk-small) {
        height: 60vh;
        top: -10rem;
      }
      @include screensize(tab-big) {
        height: 55vh;
      }
      @include screensize(tab-land) {
        height: 40vh;
      }
      @include screensize(tab-port) {
        display: none;
      }
    }
  }

  &-phone2 {
    &-img {
      position: absolute;
      right: 0;
      top: 50rem;
      z-index: 200;

      @include screensize(desktop) {
        height: 80vh;
        top: 48rem;
      }
      @include screensize(desk-small) {
        height: 80vh;
        top: 60rem;
      }
      @include screensize(tab-big) {
        height: 75vh;
        top: 72rem;
      }
      @include screensize(tab-land) {
        height: 50vh;
        top: 80rem;
      }
      @include screensize(tab-port) {
        display: none;
      }
    }
  }

  &-text {
    width: 38%;
    padding-top: 7%;
    margin-left: 40%;
    @include screensize(tab-port) {
      margin: auto;
      width: 90%;
    }

    & img {
      max-width: 90%;
    }
    &-1 {
      color: $color-light-gray;
      font-size: 3.2rem;
      font-weight: 300;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      @include screensize(phone) {
        font-size: 3rem;
      }
    }

    &-info {
      color: $color-white;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: $letter-spacing;

      @include screensize(phone) {
        font-size: 2rem;
      }

      & span {
        color: $color-blue-cyan;
      }

      &-1 {
        margin-top: 7%;
      }

      &-2, &-3 {
        margin-top: 2.5%;
      }

      &-3 {
        font-weight: 900;
      }
    }

    &-tags {
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 10%;
      z-index: 30;
    }

    &-tag {
      background-color: $color-white;
      border-radius: 515px;
      color: $color-light-blue;
      font-size: 2.4rem;
      font-weight: 900;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;

      height: 6.3rem;
      width: 105%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5% 0;

      @include screensize(tab-big) {
        font-size: 2rem;
      }
      @include screensize(tab-port) {
        width: 100%;
      }  
    }
  }

  &-download {
    position: relative;
    left: 10%;
    top: 20%;
    z-index: 10;
    width: min-content;
    text-align: center;

    @include screensize(desk-small) {
      left: 10%;
    }
    @include screensize(tab-big) {
      left: 1%;
      top: 21%;
      width: max-content;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include screensize(tab-land) {
      left: -2%;
      top: 10%;
    }
    @include screensize(tab-port) {
      left: 0;
      top: 15%;
      width: 100%;
      z-index: 20;
    }

    &-logo {
      margin: auto;
      @include screensize(desktop) {
        width: 95%;
      }
      @include screensize(desk-small) {
        width: 90%;
      }
      @include screensize(tab-big) {
        width: 80%;
      }
      @include screensize(tab-land) {
        width: 60%;
      } 
    }

    &-links {
      display: flex;
      margin-top: 8%;
      text-align: center;
    }

    &-apple, &-google {
      background-color: $color-white;
      border-radius: 18rem;
      height: 11.3rem;
      width: 40rem;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .4s;

      &:hover {
        transform: translateY(-3px);
      }

      @include screensize(desktop) {
        width: 38rem;
      }
      @include screensize(tab-land) {
        height: 10,5rem;
        width: 35rem;

        & img {
          width: 70%;
        }
      }
      
      &:not(:last-child) {
        margin-right: 1.5%;
        @include screensize(tab-big) {
          margin-right: 2%;
        }
      }
    }
  }
}

.decorative-circles {
  position: relative;
  height: 100%;
  top: -67%;
  max-width: 100%;
}

.decorative-circle {
  position: absolute;

  &-1 {
    left: 0;
    top: 40%;
    @include screensize(tab-land) {
      top: 30%;
    }
    @include screensize(tab-port) {
      top: 45%;
    }
    @include screensize(phone) {
      top: 30%;
    }
  }

  &-2 {
    top: 92%;
    left: 50%;

    @include screensize(desktop) {
      left: 45%;
    }
    @include screensize(tab-land) {
      top: 85%;
      left: 30%;
    }
    @include screensize(tab-port) {
      top: 73%;
      left: 60%;
    }
    @include screensize(phone) {
      top: 65%;
      left: 30%;
    }
  }

  &-3 {
    top: 50%;
    left: 50vh;
    @include screensize(desk-small) {
      display: none;
    }
  }

  &-4 {
    z-index: 10;
    @include screensize(tab-big) {
      display: none;
    }
  }

  &-4, &-5 {
    right: 0;
    top: -10%;
  }

  &-5 {
    top: -20%;
    z-index: -2;
    @include screensize(tab-port) {
      display: none;
    }
  }
}
