@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.app {
  height: 197.6rem;
  background: linear-gradient(216.47deg, #5405F3 17.62%, #3EA2FF 78.75%);
  margin-top: 20%;
  position: relative;

  @include screensize(tab-big) {
    height: 190rem;
  }
  @include screensize(tab-port) {
    // height: 195rem;
  }

  &-phone1, &-phone2 {
    position: relative;

  }

  &-intro {
    display: flex;
    position: absolute;
    top: -10%;
    left: 15%;

    @include screensize(desk-small) {
      top: -8%;
    }
    @include screensize(tab-land) {
      // top: -6%;
    }
    @include screensize(tab-port) {
      display: none;
    }

    &-logo {
      @include screensize(desktop) {
        height: 30vh;
      }
      @include screensize(desk-medium) {
        height: 25vh;
      }
      @include screensize(desk-small) {
        height: 20vh;
      }
      @include screensize(tab-land) {
        height: 18vh;
      }
    }

    &-div {
      display: flex;
      flex-direction: column;
      margin: 4% 0 0 10%;

      @include screensize(tab-land) {
        margin: 2% 0 0 10%;
      }

      & p {
        color: $color-light-blue;
        font-size: 2.4rem;
        font-weight: 300;
        letter-spacing: $letter-spacing;
        margin-bottom: 2%;
        text-transform: uppercase;
      }

      & img {
        @include screensize(desktop) {
          height: 6vh;
        }
        @include screensize(desk-small) {
          width: 85%;
        }
      }
    }
  }

  &-phone1 {
    z-index: 11;
    &-img {
      height: auto;
      position: absolute;
      top: -15rem;
      z-index: 11;

      @include screensize(desktop) {
        height: 85vh;
      }
      @include screensize(desk-medium) {
        height: 80vh;
      }
      @include screensize(tab-big) {
        height: 66vh;
      }
      @include screensize(tab-land) {
        display: none;
      }
    }
  }

  &-phone2 {
    &-img {
      position: absolute;
      right: 0;
      top: 50rem;
      z-index: 200;

      @include screensize(desktop) {
        height: 85vh;
        top: 40rem;
      }
      @include screensize(desk-medium) {
        height: 80vh;
        top: 60rem;
      }
      @include screensize(desk-small) {
        height: 70vh;
        top: 60rem;
      }
      @include screensize(tab-big) {
        height: 64vh;
        top: 75rem;
      }
      @include screensize(tab-land) {
        height: 60vh;
        // top: 80rem;
      }
      @include screensize(tab-port) {
        display: none;
      }
    }
  }

  &-text {
    width: 38%;
    padding-top: 7%;
    margin-left: 40%;
    @include screensize(tab-big) {
      width: 50%;
      margin-left: 40%;
    }
    @include screensize(tab-land) {
      margin-left: 30%;
      width: 55%;
      position: relative;
      z-index: 18;
    }
    @include screensize(tab-port) {
      margin: auto;
      width: 90%;
    }

    & img {
      max-width: 90%;
    }
    &-1 {
      color: $color-light-gray;
      font-size: 3.2rem;
      font-weight: 300;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      @include screensize(phone) {
        font-size: 3rem;
      }
    }

    &-info {
      color: $color-white;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: $letter-spacing;

      @include screensize(tab-port) {
        font-size: 2.5rem;
      }

      & span {
        color: $color-blue-cyan;
      }

      &-1 {
        margin-top: 7%;
      }

      &-2, &-3 {
        margin-top: 2.5%;
      }

      &-3 {
        font-weight: 900;
      }
    }

    &-tags {
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 10%;
      z-index: 30;

      max-width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &-tag {
      background-color: $color-white;
      border-radius: 515px;
      color: $color-light-blue;
      font-size: 2.4rem;
      font-weight: 900;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;

      height: 6.3rem;
      width: 105%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5% 0;

      @include screensize(tab-big) {
        font-size: 2rem;
        width: 100%;
      }
      @include screensize(tab-port) {
        width: 60%;
        align-self: center;
      }  
      @include screensize(phone) {
        width: 100%;
        font-size: 2.5rem;
      }
    }
  }

  &-download {
    position: relative;
    left: 10%;
    top: 20%;
    z-index: 10;
    width: min-content;
    text-align: center;

    @include screensize(desk-small) {
      top: 15%;
      left: 10%;
    }
    @include screensize(tab-big) {
      left: 1%;
      // top: 21%;
      width: max-content;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include screensize(tab-land) {
      left: -2%;
      // top: 10%;
    }
    @include screensize(tab-port) {
      left: 0;
      top: 10%;
      width: 100%;
      z-index: 20;
    }

    &-logo {
      margin: auto;
      @include screensize(desktop) {
        width: 95%;
      }
      @include screensize(desk-small) {
        width: 80%;
      }
      @include screensize(tab-big) {
        width: 75%;
      }
      @include screensize(tab-land) {
        width: 55%;
      } 
      @include screensize(tab-port) {
        width: 50%;
      } 
    }

    &-links {
      display: flex;
      justify-content: center;
      margin-top: 8%;
      text-align: center;
      width: 100%;
    }

    &-apple, &-google {
      background-color: $color-white;
      border-radius: 18rem;
      height: 11.3rem;
      width: 40rem;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .4s;

      &:hover {
        transform: translateY(-3px);
      }

      @include screensize(desktop) {
        width: 38rem;
      }
      @include screensize(tab-big) {
        width: 30rem;
        height: 10rem;
      }
      @include screensize(tab-land) {
        display: none;
      }
      
      &:not(:last-child) {
        margin-right: 1.5%;
        @include screensize(tab-big) {
          margin-right: 2%;
        }
      }
    }

    &-onelink {
      display: none;

      @include screensize(tab-land) {
        background-color: $color-white;
        border-radius: 18rem;
        height: 11.3rem;
        text-decoration: none;
        width: 50%;
  
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;

        & p {
          color: $color-purple;
          font-size: 2.5rem;
          font-weight: 900;
          letter-spacing: $letter-spacing;

          text-transform: uppercase;
        // width: 90%;
        }
      }
    }
  }
}

.decorative-circles {
  position: relative;
  height: 100%;
  top: -67%;
  max-width: 100%;
}

.decorative-circle {
  position: absolute;

  &-1 {
    left: 0;
    top: 40%;
    @include screensize(tab-land) {
      top: 30%;
    }
    @include screensize(tab-port) {
      top: 45%;
    }
    @include screensize(phone) {
      top: 30%;
    }
  }

  &-2 {
    top: 92%;
    left: 50%;

    @include screensize(desktop) {
      left: 45%;
    }
    @include screensize(tab-land) {
      top: 85%;
      left: 30%;
    }
    @include screensize(tab-port) {
      top: 73%;
      left: 60%;
    }
    @include screensize(phone) {
      display: none !important;
    }
  }

  &-3 {
    top: 50%;
    left: auto;
    right: 0;
    @include screensize(desk-small) {
      display: none !important;
    }
  }

  &-4 {
    z-index: 10;
    @include screensize(tab-big) {
      display: none !important;
    }
  }

  &-4, &-5 {
    right: 0;
    top: -10%;
  }

  &-5 {
    top: -20%;
    z-index: -2;
    @include screensize(tab-port) {
      display: none !important;
    }
  }
}
