@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.footer {
  background-color: $color-dark-blue;
  height: 54.4rem;
  
  &-main {
    border-bottom: 1px solid $color-light-blue;
    height: 77%;
    margin: auto;
    padding: 7% 0 0 3%;
    width: 83%;

    display: flex;
    justify-content: space-between;
  }

  &-img {
    width: 85%;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    padding-top: 22%;
    padding-bottom: 4%;
    width: 41.5rem;

    @include screensize(tab-port) {
      padding-top: 15%;
    }
    @include screensize(phone) {
      padding-top: 10%;
    }
  }

  &-icon-div {
    background-color: $color-white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    color: $color-light-blue;
    font-size: 3rem;
  }

  &-qr {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4%;
    width: 51rem;

    @include screensize(tab-land) {
      justify-content: end;
      width: 100%;  
    }
  }

  &-dr-logo {
    width: 21.7rem;
    @include screensize(tab-port) {
      display: none;
    }
  }

  &-dr-qr {
    padding-left: 13%;
    @include screensize(tab-land) {
      display: none;
    }
  }

  &-section{
    color: $color-white;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: space-between;
    margin: auto;
    padding-top: 2.8%;
    width: 83%;
  }

  &-terms {
    display: flex;
    text-transform: uppercase;
    width: 51rem;

    & p:first-child {
      margin-right: 20%;
    }
  }

}