@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './sass/variables.scss';
@import './sass/mixins.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

body {
	background: radial-gradient(circle, rgb(24,38,112), rgb(6,19,39));
	background-size: 1000% 400%;
	animation: gradient 15s ease infinite;
	// height: 100vh;
}


body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(248, 249, 250);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(108, 117, 125);
  border-radius: 8px;
}

html {
  font-size: 62.5%; //10px
  scroll-behavior: smooth;

  @include screensize(desktop) {
    font-size: 56.2%; //9px
  }
  @include screensize(tab-land) {
    font-size: 43.7%; //7px
  }@include screensize(tab-port) {
    font-size: 37.5%; //6px
  }@include screensize(phone) {
    font-size: 25%; //4px
  }

  // background: rgb(6,19,40);
// background: linear-gradient(41deg, rgba(6,19,40,1) 35%, rgba(25,39,114,1) 87%);
  // background-image:
  // radial-gradient(at 87% 65%, hsla(244,70%,9%,1) 0px, transparent 50%),
  // radial-gradient(at 30% 0%, hsla(257,66%,23%,1) 0px, transparent 50%);

  height: 100%;
  max-width: 100% ;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}