@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.events {
  padding-top: 15%;

  &-title {
    font-size: 4rem;
    letter-spacing: $letter-spacing;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    display: flex;
    justify-content: center;

    @include screensize(phone) {
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      width: 95%;
    }

    & p:first-child {
      color: $color-light-blue;
      font-weight: 900;
      margin: 0 2% 4% 0;
    }

    & p:last-child {
      color: $color-white;
      font-weight: 300;

      @include screensize(phone) {
        align-self: flex-end;
        margin-bottom: 4%;
      }
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include screensize(tab-land) {
    height: 650px;
  }
  @include screensize(tab-port) {
    height: 600px;
  }
  @include screensize(phone) {
    height: auto;
    padding-bottom: 3%;
  }

  &-img {
    height: 60vh;

    &-1 {
      background-image: url('./Images/001.png');
      background-size: cover;
      background-position: center;
      
      @include screensize(phone) {
        background-position: left 5%;
      }
    }
    
    &-2 {
      background-image: url('./Images/002.png');
      background-size: cover;
      background-position: top 20%;

      @include screensize(phone) {
        background-position: right 5%;
      }
    }
    
    &-3 {
      background-image: url('./Images/003.png');
      background-size: cover;
      background-position: center;
    }

    &-4 {
      background-image: url('./Images/004.png');
      background-size: cover;
      background-position: left 15%;
    }
    
    &-5 {
      background-image: url('./Images/005.png');
      background-size: cover;
      background-position: left 40%;
    }
    
    &-6 {
      background-image: url('./Images/006.png');
      background-size: cover;
      background-position: center;
    }
    
    &-7 {
      background-image: url('./Images/007.png');
      background-size: cover;
      background-position: center;

      @include screensize(phone) {
        background-position: left;
      }
    }
    
    &-8 {
      background-image: url('./Images/008.jpeg');
      background-size: cover;
      background-position: center;
    }
    
    &-9 {
      background-image: url('./Images/009.jpeg');
      background-size: cover;
      background-position: left;
    }
    
    &-10 {
      background-image: url('./Images/010.jpeg');
      background-size: cover;
      background-position: center;

      @include screensize(phone) {
        background-position: left;
      }
    }
    
    &-11 {
      background-image: url('./Images/011.jpeg');
      background-size: cover;
      background-position: left;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
  }

  &-title {
    color: $color-light-blue;
    display: flex;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    text-align: center;

    &-div {
      display: flex;
      width: 50%;
      // text-align: end;

      &-1 {
        border-right: 1px solid $color-light-blue;
        justify-content: flex-end;
        padding-right: 40px;
        text-align: end;

        @include screensize(phone) {
          padding-right: 20px;
        }
      }
      &-2 {
        justify-content: flex-start;
        margin-left: 40px;
        text-align: start;
        @include screensize(phone) {
          margin-left: 20px;
        }
      }
    }

    & p:nth-child(2) {
      padding: 0 30px;
    }

    // & p:last-child {
    //   width: 50%;
    //   text-align: start;
    // }
  }

  &-phrase {
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: $letter-spacing;
    margin-top: 2%;
  }  
}

.mantine-UnstyledButton-root.mantine-Carousel-control.mantine-3qclsy {
  @include screensize(phone) {
    height: 20px;
    width: 20px;;
  }
}

.mantine-oqtyjo.mantine-Carousel-indicators, .mantine-UnstyledButton-root.mantine-Carousel-control.mantine-3qclsy
{
  @include screensize(phone) {
    display: none !important;
  }
}

