@import '../../sass/variables.scss';

.events {
  padding-top: 20%;
  margin-top: 50%;
  color: red;
  width: 80%;
  margin: auto;

}

.slide {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  &-img {
    height: 66.1rem;
    // width: 147.4rem;

    &-1 {
      background-image: url('./Images/001.png');
      background-size: cover;
      background-position: center;
    }
    &-2 {
      background-image: url('./Images/002.png');
      background-size: cover;
      background-position: top 20%;
    }&-3 {
      background-image: url('./Images/003.png');
      background-size: cover;
      background-position: center;
    }
    &-4 {
      background-image: url('./Images/004.png');
      background-size: cover;
      background-position: left 10%;
    }&-5 {
      background-image: url('./Images/005.png');
      background-size: cover;
      background-position: center;
    }&-6 {
      background-image: url('./Images/006.png');
      background-size: cover;
      background-position: center;
    }&-7 {
      background-image: url('./Images/007.png');
      background-size: cover;
      background-position: center;
    }&-8 {
      background-image: url('./Images/008.jpeg');
      background-size: cover;
      background-position: center;
    }&-9 {
      background-image: url('./Images/009.jpeg');
      background-size: cover;
      background-position: left 25%;
    }&-10 {
      background-image: url('./Images/010.jpeg');
      background-size: cover;
      background-position: center;
    }&-11 {
      background-image: url('./Images/011.jpeg');
      background-size: cover;
      background-position: left 25%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-title {
    display: flex;
  }

  
}